openapi: 3.1.0
info:
  title: Poiva Protocol API
  version: "1.0"
  summary: >
    HTTP surface for a Poiva-conformant server implementing the Mission -> Activity ->
    Deliverable -> Evidence -> Verification -> Settlement lifecycle.
  description: >
    This document describes the REST API of Poiva Cloud, the reference implementation of the
    Poiva protocol (see /protocol/docs). It is the contract every official SDK (TypeScript,
    Python, Java) and the `poiva` CLI are built against.


    Design choices that are intentional, not omissions:


    1. Every resource has a single-item GET. Evidence, Artifact, Knowledge Capsule, and Event are
       immutable once created — no update or delete — matching the protocol's append-only
       invariants for proof-of-work records. Everything else (Mission, Activity, Deliverable,
       Settlement, Participant, Capability, Estimate, Planning Proposal, Objective, Constraint,
       Policy) supports delete: soft-delete (hidden from `list`, not erased) for the original six
       workspace resources, hard delete for the rest.
    2. Beyond a resource's generic state/outcome PATCH, some resources also expose explicit
       lifecycle actions (mission cancel, activity assign/submit/approve, verification evaluate,
       settlement confirm, participant attach-capability, estimate/planning-proposal accept) —
       named by path rather than folded into the generic PATCH, because the protocol spec names
       them as distinct actions. Both paths are validated through the same transition graph, so
       every mutation is still representable as a single, meaningful lifecycle event in the
       protocol's append-only event log (see /events).


    A different Poiva-conformant server is free to implement this same contract differently
    (different storage, different auth), as long as the request/response shapes and lifecycle
    semantics described here and in /protocol/docs are preserved.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://getpoiva.com
    description: Poiva Cloud (hosted reference implementation)
  - url: http://localhost:8080
    description: Local development server

security:
  - bearerAuth: []
  - apiKeyAuth: []

tags:
  - name: Auth
    description: Organization signup, session login, and account management.
  - name: Missions
  - name: Activities
  - name: Deliverables
  - name: Evidence
  - name: Verifications
  - name: Settlements
  - name: Verification Links
    description: Public, unauthenticated share links for a mission's verification timeline.
  - name: Participants
    description: Org-scoped. Real participants are also auto-provisioned per organization member on first authenticated request.
  - name: Capabilities
    description: Org-scoped.
  - name: Knowledge Capsules
    description: Mission-scoped. Immutable once created.
  - name: Estimates
    description: Mission-scoped.
  - name: Planning Proposals
    description: Mission-scoped.
  - name: Artifacts
    description: Deliverable-scoped. Immutable once created.
  - name: Objectives
    description: Mission-scoped.
  - name: Constraints
    description: Mission-scoped.
  - name: Policies
    description: Org-scoped, not tied to a mission.
  - name: Events
    description: Org-scoped, read-only append-only log. Events are emitted as a side effect of other mutations, never created directly.

paths:
  /api/cloud/signup:
    post:
      tags: [Auth]
      operationId: signup
      summary: Create a new organization and its first user, and issue a session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SignupRequest" }
      responses:
        "201":
          description: Organization created; session issued.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }

  /api/cloud/login:
    post:
      tags: [Auth]
      operationId: login
      summary: Authenticate with email/password and issue a session.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LoginRequest" }
      responses:
        "200":
          description: Session issued.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401":
          description: Invalid credentials.

  /api/cloud/logout:
    post:
      tags: [Auth]
      operationId: logout
      summary: Invalidate the current session token. No-op for API key auth.
      security: [{ bearerAuth: [] }]
      responses:
        "204":
          description: Session invalidated.

  /api/cloud/me:
    get:
      tags: [Auth]
      operationId: currentAccount
      summary: Get the authenticated user and their organization.
      responses:
        "200":
          description: Current account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CurrentAccountResponse" }
    delete:
      tags: [Auth]
      operationId: deleteAccount
      summary: Delete the authenticated user's account.
      security: [{ bearerAuth: [] }]
      responses:
        "204":
          description: Account deleted.

  /api/cloud/me/password:
    patch:
      tags: [Auth]
      operationId: changePassword
      summary: Change the authenticated user's password.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChangePasswordRequest" }
      responses:
        "204":
          description: Password changed. All other sessions for this account are invalidated.

  /api/cloud/organization:
    get:
      tags: [Auth]
      operationId: currentOrganization
      summary: Get the authenticated principal's organization.
      responses:
        "200":
          description: Organization.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OrganizationResponse" }

  /api/cloud/workspace/missions:
    get:
      tags: [Missions]
      operationId: listMissions
      summary: List every non-deleted mission in the caller's organization.
      responses:
        "200":
          description: Missions.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/mission.schema.json" }
    post:
      tags: [Missions]
      operationId: createMission
      summary: Create a mission in state DRAFT.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MissionCreateRequest" }
      responses:
        "200":
          description: Mission created.
          content:
            application/json:
              schema: { $ref: "schema/mission.schema.json" }

  /api/cloud/workspace/missions/{id}:
    get:
      tags: [Missions]
      operationId: getMission
      summary: Get a single mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Mission.
          content:
            application/json:
              schema: { $ref: "schema/mission.schema.json" }
    delete:
      tags: [Missions]
      operationId: deleteMission
      summary: Soft-delete a mission (hidden from list, not erased).
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Mission deleted.
          content:
            application/json:
              schema: { $ref: "schema/mission.schema.json" }

  /api/cloud/workspace/missions/{id}/state:
    patch:
      tags: [Missions]
      operationId: updateMissionState
      summary: Transition a mission's lifecycle state.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MissionStateUpdateRequest" }
      responses:
        "200":
          description: Mission updated.
          content:
            application/json:
              schema: { $ref: "schema/mission.schema.json" }

  /api/cloud/workspace/missions/{id}/cancel:
    post:
      tags: [Missions]
      operationId: cancelMission
      summary: Transition a mission to CANCELLED. Equivalent to the generic state PATCH, exposed as a named action.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Mission cancelled.
          content:
            application/json:
              schema: { $ref: "schema/mission.schema.json" }

  /api/cloud/workspace/missions/{id}/events:
    get:
      tags: [Missions]
      operationId: missionEvents
      summary: List every event recorded against a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Events.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/event.schema.json" }

  /api/cloud/workspace/missions/{id}/activities:
    get:
      tags: [Activities]
      operationId: listActivities
      summary: List every activity belonging to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Activities.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/activity.schema.json" }
    post:
      tags: [Activities]
      operationId: createActivity
      summary: Create an activity within a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ActivityCreateRequest" }
      responses:
        "200":
          description: Activity created.
          content:
            application/json:
              schema: { $ref: "schema/activity.schema.json" }

  /api/cloud/workspace/activities/{id}:
    get:
      tags: [Activities]
      operationId: getActivity
      summary: Get a single activity.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Activity.
          content:
            application/json:
              schema: { $ref: "schema/activity.schema.json" }
    delete:
      tags: [Activities]
      operationId: deleteActivity
      summary: Soft-delete an activity (hidden from list, not erased).
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Activity deleted.
          content:
            application/json:
              schema: { $ref: "schema/activity.schema.json" }

  /api/cloud/workspace/activities/{id}/state:
    patch:
      tags: [Activities]
      operationId: updateActivityState
      summary: Transition an activity's lifecycle state.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ActivityStateUpdateRequest" }
      responses:
        "200":
          description: Activity updated.
          content:
            application/json:
              schema: { $ref: "schema/activity.schema.json" }

  /api/cloud/workspace/activities/{id}/assign:
    post:
      tags: [Activities]
      operationId: assignActivity
      summary: >
        Assign a participant to the activity. Omitting participantId assigns the caller's own
        (auto-provisioned) participant.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ActivityAssignRequest" }
      responses:
        "200":
          description: Activity assigned.
          content:
            application/json:
              schema: { $ref: "schema/activity.schema.json" }

  /api/cloud/workspace/activities/{id}/submit:
    post:
      tags: [Activities]
      operationId: submitActivity
      summary: Transition an activity to SUBMITTED.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Activity submitted.
          content:
            application/json:
              schema: { $ref: "schema/activity.schema.json" }

  /api/cloud/workspace/activities/{id}/approve:
    post:
      tags: [Activities]
      operationId: approveActivity
      summary: Transition an activity to APPROVED.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Activity approved.
          content:
            application/json:
              schema: { $ref: "schema/activity.schema.json" }

  /api/cloud/workspace/activities/{id}/events:
    get:
      tags: [Activities]
      operationId: activityEvents
      summary: List every event recorded against an activity.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Events.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/event.schema.json" }

  /api/cloud/workspace/missions/{id}/deliverables:
    get:
      tags: [Deliverables]
      operationId: listDeliverables
      summary: List every deliverable belonging to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Deliverables.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/deliverable.schema.json" }
    post:
      tags: [Deliverables]
      operationId: createDeliverable
      summary: Submit a deliverable to a mission, optionally tied to an activity.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeliverableCreateRequest" }
      responses:
        "200":
          description: Deliverable created.
          content:
            application/json:
              schema: { $ref: "schema/deliverable.schema.json" }

  /api/cloud/workspace/deliverables/{id}:
    get:
      tags: [Deliverables]
      operationId: getDeliverable
      summary: Get a single deliverable.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Deliverable.
          content:
            application/json:
              schema: { $ref: "schema/deliverable.schema.json" }
    delete:
      tags: [Deliverables]
      operationId: deleteDeliverable
      summary: Soft-delete a deliverable (hidden from list, not erased).
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Deliverable deleted.
          content:
            application/json:
              schema: { $ref: "schema/deliverable.schema.json" }

  /api/cloud/workspace/deliverables/{id}/state:
    patch:
      tags: [Deliverables]
      operationId: updateDeliverableState
      summary: Transition a deliverable's review state.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DeliverableStateUpdateRequest" }
      responses:
        "200":
          description: Deliverable updated.
          content:
            application/json:
              schema: { $ref: "schema/deliverable.schema.json" }

  /api/cloud/workspace/deliverables/{id}/evidence:
    get:
      tags: [Evidence]
      operationId: listEvidence
      summary: List every piece of evidence attached to a deliverable.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Evidence.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/evidence.schema.json" }
    post:
      tags: [Evidence]
      operationId: createEvidence
      summary: Attach a piece of evidence to a deliverable.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EvidenceCreateRequest" }
      responses:
        "200":
          description: Evidence created.
          content:
            application/json:
              schema: { $ref: "schema/evidence.schema.json" }

  /api/cloud/workspace/evidence/{id}:
    get:
      tags: [Evidence]
      operationId: getEvidence
      summary: Get a single piece of evidence. No delete — evidence is immutable once created.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Evidence.
          content:
            application/json:
              schema: { $ref: "schema/evidence.schema.json" }

  /api/cloud/workspace/deliverables/{id}/artifacts:
    get:
      tags: [Artifacts]
      operationId: listArtifacts
      summary: List every artifact attached to a deliverable.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Artifacts.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/artifact.schema.json" }
    post:
      tags: [Artifacts]
      operationId: createArtifact
      summary: Attach an artifact to a deliverable.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ArtifactCreateRequest" }
      responses:
        "200":
          description: Artifact created.
          content:
            application/json:
              schema: { $ref: "schema/artifact.schema.json" }

  /api/cloud/workspace/artifacts/{id}:
    get:
      tags: [Artifacts]
      operationId: getArtifact
      summary: Get a single artifact. No delete — artifacts are immutable once created.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Artifact.
          content:
            application/json:
              schema: { $ref: "schema/artifact.schema.json" }

  /api/cloud/workspace/deliverables/{id}/verifications:
    get:
      tags: [Verifications]
      operationId: listVerifications
      summary: List every verification run against a deliverable.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Verifications.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/verification.schema.json" }
    post:
      tags: [Verifications]
      operationId: createVerification
      summary: Start a verification against a deliverable, in outcome PENDING.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerificationCreateRequest" }
      responses:
        "200":
          description: Verification created.
          content:
            application/json:
              schema: { $ref: "schema/verification.schema.json" }

  /api/cloud/workspace/verifications/{id}:
    get:
      tags: [Verifications]
      operationId: getVerification
      summary: Get a single verification.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Verification.
          content:
            application/json:
              schema: { $ref: "schema/verification.schema.json" }

  /api/cloud/workspace/verifications/{id}/outcome:
    patch:
      tags: [Verifications]
      operationId: updateVerificationOutcome
      summary: Record a verification's outcome.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerificationOutcomeUpdateRequest" }
      responses:
        "200":
          description: Verification updated.
          content:
            application/json:
              schema: { $ref: "schema/verification.schema.json" }

  /api/cloud/workspace/verifications/{id}/evaluate:
    post:
      tags: [Verifications]
      operationId: evaluateVerification
      summary: Record a verification's outcome with optional notes. Equivalent to the outcome PATCH, exposed as a named action.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/VerificationEvaluateRequest" }
      responses:
        "200":
          description: Verification updated.
          content:
            application/json:
              schema: { $ref: "schema/verification.schema.json" }

  /api/cloud/workspace/missions/{id}/settlements:
    get:
      tags: [Settlements]
      operationId: listSettlements
      summary: List every settlement belonging to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Settlements.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/settlement.schema.json" }
    post:
      tags: [Settlements]
      operationId: createSettlement
      summary: Create a settlement for a mission, in state PENDING.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SettlementCreateRequest" }
      responses:
        "200":
          description: Settlement created.
          content:
            application/json:
              schema: { $ref: "schema/settlement.schema.json" }

  /api/cloud/workspace/settlements/{id}:
    get:
      tags: [Settlements]
      operationId: getSettlement
      summary: Get a single settlement.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Settlement.
          content:
            application/json:
              schema: { $ref: "schema/settlement.schema.json" }
    delete:
      tags: [Settlements]
      operationId: deleteSettlement
      summary: Soft-delete a settlement (hidden from list, not erased).
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Settlement deleted.
          content:
            application/json:
              schema: { $ref: "schema/settlement.schema.json" }

  /api/cloud/workspace/settlements/{id}/state:
    patch:
      tags: [Settlements]
      operationId: updateSettlementState
      summary: Transition a settlement's lifecycle state.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SettlementStateUpdateRequest" }
      responses:
        "200":
          description: Settlement updated.
          content:
            application/json:
              schema: { $ref: "schema/settlement.schema.json" }

  /api/cloud/workspace/settlements/{id}/confirm:
    post:
      tags: [Settlements]
      operationId: confirmSettlement
      summary: Transition a settlement to CONFIRMED. Equivalent to the generic state PATCH, exposed as a named action.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Settlement confirmed.
          content:
            application/json:
              schema: { $ref: "schema/settlement.schema.json" }

  # ---- Participants, Capabilities, Knowledge Capsules, Estimates, Planning Proposals, ----
  # ---- Objectives, Constraints, Policies, Events: added by the backend's "Fill out the ----
  # ---- protocol spec: docs 07-23 and APIs for every typed entity" change. ----

  /api/cloud/workspace/participants:
    get:
      tags: [Participants]
      operationId: listParticipants
      summary: List every participant in the caller's organization, optionally filtered by capability.
      parameters:
        - name: capability
          in: query
          required: false
          description: Capability code to filter by.
          schema: { type: string }
      responses:
        "200":
          description: Participants.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/participant.schema.json" }
    post:
      tags: [Participants]
      operationId: createParticipant
      summary: Register a participant.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ParticipantCreateRequest" }
      responses:
        "200":
          description: Participant created.
          content:
            application/json:
              schema: { $ref: "schema/participant.schema.json" }

  /api/cloud/workspace/participants/{id}:
    get:
      tags: [Participants]
      operationId: getParticipant
      summary: Get a single participant.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Participant.
          content:
            application/json:
              schema: { $ref: "schema/participant.schema.json" }
    delete:
      tags: [Participants]
      operationId: deleteParticipant
      summary: Remove a participant.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Participant deleted.
          content:
            application/json:
              schema: { $ref: "schema/participant.schema.json" }

  /api/cloud/workspace/participants/{id}/capabilities:
    post:
      tags: [Participants]
      operationId: attachParticipantCapability
      summary: Attach a capability (by code) to a participant.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ParticipantAttachCapabilityRequest" }
      responses:
        "200":
          description: Participant updated.
          content:
            application/json:
              schema: { $ref: "schema/participant.schema.json" }

  /api/cloud/workspace/capabilities:
    get:
      tags: [Capabilities]
      operationId: listCapabilities
      summary: List every capability defined in the caller's organization.
      responses:
        "200":
          description: Capabilities.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/capability.schema.json" }
    post:
      tags: [Capabilities]
      operationId: createCapability
      summary: Define a new capability.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CapabilityCreateRequest" }
      responses:
        "200":
          description: Capability created.
          content:
            application/json:
              schema: { $ref: "schema/capability.schema.json" }

  /api/cloud/workspace/capabilities/{id}:
    get:
      tags: [Capabilities]
      operationId: getCapability
      summary: Get a single capability.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Capability.
          content:
            application/json:
              schema: { $ref: "schema/capability.schema.json" }
    delete:
      tags: [Capabilities]
      operationId: deleteCapability
      summary: Remove a capability.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Capability deleted.
          content:
            application/json:
              schema: { $ref: "schema/capability.schema.json" }

  /api/cloud/workspace/missions/{id}/knowledge:
    get:
      tags: [Knowledge Capsules]
      operationId: listKnowledgeCapsules
      summary: List every knowledge capsule attached to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Knowledge capsules.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/knowledge-capsule.schema.json" }
    post:
      tags: [Knowledge Capsules]
      operationId: createKnowledgeCapsule
      summary: Attach a knowledge capsule to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/KnowledgeCapsuleCreateRequest" }
      responses:
        "200":
          description: Knowledge capsule created.
          content:
            application/json:
              schema: { $ref: "schema/knowledge-capsule.schema.json" }

  /api/cloud/workspace/knowledge/{id}:
    get:
      tags: [Knowledge Capsules]
      operationId: getKnowledgeCapsule
      summary: Get a single knowledge capsule. No delete — immutable once created.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Knowledge capsule.
          content:
            application/json:
              schema: { $ref: "schema/knowledge-capsule.schema.json" }

  /api/cloud/workspace/missions/{id}/estimates:
    get:
      tags: [Estimates]
      operationId: listEstimates
      summary: List every estimate belonging to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Estimates.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/estimate.schema.json" }
    post:
      tags: [Estimates]
      operationId: createEstimate
      summary: Create an estimate for a mission, optionally scoped to an activity or planning proposal.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EstimateCreateRequest" }
      responses:
        "200":
          description: Estimate created.
          content:
            application/json:
              schema: { $ref: "schema/estimate.schema.json" }

  /api/cloud/workspace/estimates/{id}:
    get:
      tags: [Estimates]
      operationId: getEstimate
      summary: Get a single estimate.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Estimate.
          content:
            application/json:
              schema: { $ref: "schema/estimate.schema.json" }
    delete:
      tags: [Estimates]
      operationId: deleteEstimate
      summary: Remove an estimate.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Estimate deleted.
          content:
            application/json:
              schema: { $ref: "schema/estimate.schema.json" }

  /api/cloud/workspace/estimates/{id}/accept:
    post:
      tags: [Estimates]
      operationId: acceptEstimate
      summary: Accept an estimate.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Estimate accepted.
          content:
            application/json:
              schema: { $ref: "schema/estimate.schema.json" }

  /api/cloud/workspace/missions/{id}/planning-proposals:
    get:
      tags: [Planning Proposals]
      operationId: listPlanningProposals
      summary: List every planning proposal belonging to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Planning proposals.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/planning-proposal.schema.json" }
    post:
      tags: [Planning Proposals]
      operationId: createPlanningProposal
      summary: Propose a strategy and timeline for fulfilling a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PlanningProposalCreateRequest" }
      responses:
        "200":
          description: Planning proposal created.
          content:
            application/json:
              schema: { $ref: "schema/planning-proposal.schema.json" }

  /api/cloud/workspace/planning-proposals/{id}:
    get:
      tags: [Planning Proposals]
      operationId: getPlanningProposal
      summary: Get a single planning proposal.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Planning proposal.
          content:
            application/json:
              schema: { $ref: "schema/planning-proposal.schema.json" }
    delete:
      tags: [Planning Proposals]
      operationId: deletePlanningProposal
      summary: Remove a planning proposal.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Planning proposal deleted.
          content:
            application/json:
              schema: { $ref: "schema/planning-proposal.schema.json" }

  /api/cloud/workspace/planning-proposals/{id}/accept:
    post:
      tags: [Planning Proposals]
      operationId: acceptPlanningProposal
      summary: Accept a planning proposal.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Planning proposal accepted.
          content:
            application/json:
              schema: { $ref: "schema/planning-proposal.schema.json" }

  /api/cloud/workspace/missions/{id}/objectives:
    get:
      tags: [Objectives]
      operationId: listObjectives
      summary: List every objective belonging to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Objectives.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/objective.schema.json" }
    post:
      tags: [Objectives]
      operationId: createObjective
      summary: Create an objective for a mission, in state PROPOSED.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ObjectiveCreateRequest" }
      responses:
        "200":
          description: Objective created.
          content:
            application/json:
              schema: { $ref: "schema/objective.schema.json" }

  /api/cloud/workspace/objectives/{id}:
    get:
      tags: [Objectives]
      operationId: getObjective
      summary: Get a single objective.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Objective.
          content:
            application/json:
              schema: { $ref: "schema/objective.schema.json" }
    delete:
      tags: [Objectives]
      operationId: deleteObjective
      summary: Delete an objective.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Objective deleted.
          content:
            application/json:
              schema: { $ref: "schema/objective.schema.json" }

  /api/cloud/workspace/objectives/{id}/state:
    patch:
      tags: [Objectives]
      operationId: updateObjectiveState
      summary: Transition an objective's lifecycle state.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ObjectiveStateUpdateRequest" }
      responses:
        "200":
          description: Objective updated.
          content:
            application/json:
              schema: { $ref: "schema/objective.schema.json" }

  /api/cloud/workspace/missions/{id}/constraints:
    get:
      tags: [Constraints]
      operationId: listConstraints
      summary: List every constraint belonging to a mission.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Constraints.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/constraint.schema.json" }
    post:
      tags: [Constraints]
      operationId: createConstraint
      summary: Create a constraint for a mission, in state ACTIVE.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConstraintCreateRequest" }
      responses:
        "200":
          description: Constraint created.
          content:
            application/json:
              schema: { $ref: "schema/constraint.schema.json" }

  /api/cloud/workspace/constraints/{id}:
    get:
      tags: [Constraints]
      operationId: getConstraint
      summary: Get a single constraint.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Constraint.
          content:
            application/json:
              schema: { $ref: "schema/constraint.schema.json" }
    delete:
      tags: [Constraints]
      operationId: deleteConstraint
      summary: Remove a constraint.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Constraint deleted.
          content:
            application/json:
              schema: { $ref: "schema/constraint.schema.json" }

  /api/cloud/workspace/constraints/{id}/state:
    patch:
      tags: [Constraints]
      operationId: updateConstraintState
      summary: Transition a constraint's lifecycle state.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConstraintStateUpdateRequest" }
      responses:
        "200":
          description: Constraint updated.
          content:
            application/json:
              schema: { $ref: "schema/constraint.schema.json" }

  /api/cloud/workspace/policies:
    get:
      tags: [Policies]
      operationId: listPolicies
      summary: List every policy in the caller's organization.
      responses:
        "200":
          description: Policies.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/policy.schema.json" }
    post:
      tags: [Policies]
      operationId: createPolicy
      summary: Create a policy, in state DRAFT.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PolicyCreateRequest" }
      responses:
        "200":
          description: Policy created.
          content:
            application/json:
              schema: { $ref: "schema/policy.schema.json" }

  /api/cloud/workspace/policies/{id}:
    get:
      tags: [Policies]
      operationId: getPolicy
      summary: Get a single policy.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Policy.
          content:
            application/json:
              schema: { $ref: "schema/policy.schema.json" }
    delete:
      tags: [Policies]
      operationId: deletePolicy
      summary: Delete a policy.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Policy deleted.
          content:
            application/json:
              schema: { $ref: "schema/policy.schema.json" }

  /api/cloud/workspace/policies/{id}/state:
    patch:
      tags: [Policies]
      operationId: updatePolicyState
      summary: Transition a policy's lifecycle state.
      parameters:
        - $ref: "#/components/parameters/PathId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PolicyStateUpdateRequest" }
      responses:
        "200":
          description: Policy updated.
          content:
            application/json:
              schema: { $ref: "schema/policy.schema.json" }

  /api/cloud/workspace/events:
    get:
      tags: [Events]
      operationId: listEvents
      summary: List every event in the caller's organization, optionally filtered to a single mission.
      parameters:
        - name: missionId
          in: query
          required: false
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Events.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "schema/event.schema.json" }

  /api/cloud/workspace/events/{id}:
    get:
      tags: [Events]
      operationId: getEvent
      summary: Get a single event.
      parameters:
        - $ref: "#/components/parameters/PathId"
      responses:
        "200":
          description: Event.
          content:
            application/json:
              schema: { $ref: "schema/event.schema.json" }

  /api/cloud/workspace/missions/{missionId}/share:
    post:
      tags: [Verification Links]
      operationId: createShare
      summary: Create (or replace) a public verification link for a mission.
      parameters:
        - name: missionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Share link created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShareResponse" }
    get:
      tags: [Verification Links]
      operationId: currentShare
      summary: Get the current share link for a mission, if any.
      parameters:
        - name: missionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Current share link.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShareResponse" }
    delete:
      tags: [Verification Links]
      operationId: revokeShare
      summary: Revoke a mission's share link.
      parameters:
        - name: missionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Share link revoked.

  /api/public/verify/{token}:
    get:
      tags: [Verification Links]
      operationId: publicVerify
      summary: >
        Fetch the verification timeline behind a share link. Unauthenticated: possession of the
        token is the credential. Recompute `fingerprint` independently to confirm the returned
        timeline matches the source record.
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Verification timeline.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VerificationTimelineResponse" }
        "404":
          description: Unknown or revoked token.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >
        Session token returned by /api/cloud/login or /api/cloud/signup, sent as
        `Authorization: Bearer <token>`.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: >
        Organization API key of the form `pk_live_<keyId>.<secret>`. Also accepted on the
        `X-Poiva-Api-Key` header.

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }

  schemas:
    SignupRequest:
      type: object
      required: [organizationName, email, password]
      properties:
        organizationName: { type: string, minLength: 1 }
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }
        displayName: { type: string }

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string }

    ChangePasswordRequest:
      type: object
      required: [newPassword]
      properties:
        currentPassword: { type: string }
        newPassword: { type: string, minLength: 8 }

    MemberResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        email: { type: string, format: email }
        displayName: { type: string }
        role: { type: string }

    OrganizationResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        status: { type: string }
        createdAt: { type: string, format: date-time }
        memberCount: { type: integer }
        members:
          type: array
          items: { $ref: "#/components/schemas/MemberResponse" }

    AuthResponse:
      type: object
      properties:
        organization: { $ref: "#/components/schemas/OrganizationResponse" }
        user: { $ref: "#/components/schemas/MemberResponse" }
        tokenType: { type: string, example: Bearer }
        accessToken: { type: string }
        expiresAt: { type: string, format: date-time }

    CurrentAccountResponse:
      type: object
      properties:
        organization: { $ref: "#/components/schemas/OrganizationResponse" }
        user: { $ref: "#/components/schemas/MemberResponse" }
        expiresAt: { type: string, format: date-time }

    MissionCreateRequest:
      type: object
      required: [title, description]
      properties:
        title: { type: string, minLength: 1 }
        description: { type: string, minLength: 1 }
        priority:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]

    MissionStateUpdateRequest:
      type: object
      required: [state]
      properties:
        state: { $ref: "schema/common.schema.json#/$defs/missionState" }

    ActivityCreateRequest:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 1 }
        description: { type: string }

    ActivityStateUpdateRequest:
      type: object
      required: [state]
      properties:
        state: { $ref: "schema/common.schema.json#/$defs/activityState" }

    ActivityAssignRequest:
      type: object
      properties:
        participantId:
          type: string
          format: uuid
          description: Omit to assign the caller's own (auto-provisioned) participant.

    DeliverableCreateRequest:
      type: object
      required: [title, artifactType]
      properties:
        title: { type: string, minLength: 1 }
        artifactType: { type: string, minLength: 1 }
        activityId: { type: string, format: uuid }
        acceptanceCriteria:
          type: array
          items: { type: string }

    DeliverableStateUpdateRequest:
      type: object
      required: [state]
      properties:
        state: { $ref: "schema/common.schema.json#/$defs/deliverableState" }

    EvidenceCreateRequest:
      type: object
      required: [type, locator]
      properties:
        type: { type: string, minLength: 1 }
        locator: { type: string, minLength: 1 }

    VerificationCreateRequest:
      type: object
      required: [mode]
      properties:
        mode: { $ref: "schema/common.schema.json#/$defs/verificationMode" }
        policyCode: { type: string }

    VerificationOutcomeUpdateRequest:
      type: object
      required: [outcome]
      properties:
        outcome: { $ref: "schema/common.schema.json#/$defs/verificationOutcome" }

    VerificationEvaluateRequest:
      type: object
      required: [outcome]
      properties:
        outcome: { $ref: "schema/common.schema.json#/$defs/verificationOutcome" }
        notes: { type: string }

    SettlementCreateRequest:
      type: object
      required: [type]
      properties:
        type: { $ref: "schema/common.schema.json#/$defs/settlementType" }
        amount: { type: number }
        currency: { type: string }

    SettlementStateUpdateRequest:
      type: object
      required: [state]
      properties:
        state: { $ref: "schema/common.schema.json#/$defs/settlementState" }

    ParticipantCreateRequest:
      type: object
      required: [displayName, kind]
      properties:
        displayName: { type: string, minLength: 1 }
        kind: { $ref: "schema/common.schema.json#/$defs/participantKind" }
        externalRef: { type: string }
        trustScore: { type: number }

    ParticipantAttachCapabilityRequest:
      type: object
      required: [code]
      properties:
        code: { type: string, minLength: 1 }

    CapabilityCreateRequest:
      type: object
      required: [code, display]
      properties:
        code: { type: string, minLength: 1 }
        display: { type: string, minLength: 1 }
        description: { type: string }

    KnowledgeCapsuleCreateRequest:
      type: object
      required: [title, type, locator]
      properties:
        title: { type: string, minLength: 1 }
        type: { $ref: "schema/common.schema.json#/$defs/knowledgeType" }
        locator: { type: string, minLength: 1 }
        version: { type: integer }

    EstimateCreateRequest:
      type: object
      properties:
        activityId: { type: string, format: uuid }
        planningProposalId: { type: string, format: uuid }
        durationMinutes: { type: integer }
        effortHours: { type: number }
        cost: { type: number }
        currency: { type: string }
        confidence:
          type: integer
          minimum: 0
          maximum: 100
        requiredCapabilityCodes:
          type: array
          items: { type: string }
        risks:
          type: array
          items: { type: string }

    PlanningProposalCreateRequest:
      type: object
      properties:
        strategy: { type: string }
        expectedTimeline: { type: string, format: date-time }

    ArtifactCreateRequest:
      type: object
      required: [type, locator]
      properties:
        type: { type: string, minLength: 1 }
        locator: { type: string, minLength: 1 }
        checksum: { type: string }

    ObjectiveCreateRequest:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 1 }
        description: { type: string }
        priority: { $ref: "schema/common.schema.json#/$defs/priority" }
        targetMetric: { type: string }

    ObjectiveStateUpdateRequest:
      type: object
      required: [state]
      properties:
        state: { $ref: "schema/common.schema.json#/$defs/objectiveState" }

    ConstraintCreateRequest:
      type: object
      required: [type, description, severity]
      properties:
        type: { $ref: "schema/common.schema.json#/$defs/constraintType" }
        description: { type: string, minLength: 1 }
        severity: { $ref: "schema/common.schema.json#/$defs/constraintSeverity" }

    ConstraintStateUpdateRequest:
      type: object
      required: [state]
      properties:
        state: { $ref: "schema/common.schema.json#/$defs/constraintState" }

    PolicyCreateRequest:
      type: object
      required: [code, title, appliesTo, description]
      properties:
        code: { type: string, minLength: 1 }
        title: { type: string, minLength: 1 }
        appliesTo: { $ref: "schema/common.schema.json#/$defs/policyScope" }
        description: { type: string, minLength: 1 }

    PolicyStateUpdateRequest:
      type: object
      required: [state]
      properties:
        state: { $ref: "schema/common.schema.json#/$defs/policyState" }

    ShareResponse:
      type: object
      properties:
        token: { type: string }
        url: { type: string, format: uri }
        resourceType: { type: string }
        resourceId: { type: string }
        createdAt: { type: string, format: date-time }
        revoked: { type: boolean }

    VerificationStep:
      type: object
      properties:
        resourceType: { type: string }
        resourceId: { type: string }
        action: { type: string }
        title: { type: string }
        status: { type: string }
        summary: { type: string }
        occurredAt: { type: string, format: date-time }
        stepHash: { type: string }

    VerificationTimelineResponse:
      type: object
      properties:
        organizationName: { type: string }
        resourceType: { type: string }
        resourceId: { type: string }
        title: { type: string }
        summary: { type: string }
        status: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        timeline:
          type: array
          items: { $ref: "#/components/schemas/VerificationStep" }
        fingerprint:
          type: string
          description: Recompute independently to confirm the timeline hasn't been altered.
        verifiedAt: { type: string, format: date-time }
        shareUrl: { type: string, format: uri }
